<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvin six</title>
    <link rel="stylesheet" href="../assets/css/marvin-six-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;500&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div class="marvin-six">
            <div class="box-left">
                <div class="page">
                    <h2 class="page-number">06</h2>
                </div>
                <div class="description">
                    <p class="logo">//Marvin</p>
                    <p class="logo-desc">Primary color</p>
                </div>
            </div>
            <div class="box-right">
                <div class="row">
                    <div class="box-one">
                        <div class="colors">
                            <div class="color">
                                <div class="title">
                                    <h2>HEX</h2>
                                </div>
                                <div class="desc">
                                    <h3>2A33FF</h3>
                                </div>
                            </div>

                            <div class="color">
                                <div class="title">
                                    <h2>CMYK</h2>
                                </div>
                                <div class="desc">
                                    <h3>C89</h3>
                                    <h3>M72</h3>
                                    <h3>Y0</h3>
                                    <h3>K0</h3>
                                </div>
                            </div>

                            <div class="color">
                                <div class="title">
                                    <h2>RGB</h2>
                                </div>
                                <div class="desc">
                                    <h3>R42</h3>
                                    <h3>G51</h3>
                                    <h3>B255</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box-two">
                        <div class="colors">
                            <div class="color">
                                <div class="title">
                                    <h2>HEX</h2>
                                </div>
                                <div class="desc">
                                    <h3>00DBC9</h3>
                                </div>
                            </div>

                            <div class="color">
                                <div class="title">
                                    <h2>CMYK</h2>
                                </div>
                                <div class="desc">
                                    <h3>C65</h3>
                                    <h3>M0</h3>
                                    <h3>Y33</h3>
                                    <h3>K0</h3>
                                </div>
                            </div>

                            <div class="color">
                                <div class="title">
                                    <h2>RGB</h2>
                                </div>
                                <div class="desc">
                                    <h3>R0</h3>
                                    <h3>G291</h3>
                                    <h3>B201</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-three">
                        <div class="colors">
                            <div class="color">
                                <div class="title">
                                    <h2>HEX</h2>
                                </div>
                                <div class="desc">
                                    <h3>141D3A</h3>
                                </div>
                            </div>

                            <div class="color">
                                <div class="title">
                                    <h2>CMYK</h2>
                                </div>
                                <div class="desc">
                                    <h3>C100</h3>
                                    <h3>M90</h3>
                                    <h3>Y44</h3>
                                    <h3>K55</h3>
                                </div>
                            </div>

                            <div class="color">
                                <div class="title">
                                    <h2>RGB</h2>
                                </div>
                                <div class="desc">
                                    <h3>R2D</h3>
                                    <h3>G29</h3>
                                    <h3>B58</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>